@import "@/App.scss";
.skeleton-row {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #838383;
  background-image: linear-gradient(90deg, #838383, #f5f5f5, #838383);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.ReusableCoupons {
  margin-top: 50px;
  margin-bottom: 50px;
  .chartsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .chartWrapper {
      width: 16vw;
      h4,
      h2 {
        color: $DarkPrimary;
        text-align: center;
      }
    }
  }
  .tableContainer {
    background-color: $Dark4;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    padding-bottom: 50px;
    h1 {
      color: $DarkPrimary;
    }
    p {
      color: $Dark3;
    }
    button {
      cursor: pointer;
      padding: 7px 12px;
      border-radius: 10px;
      border: none;
      background-color: $CallToAction;
      margin-bottom: 30px;
      &:hover {
        background-color: $CallToActionHover;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto;

      thead {
        tr {
          background-color: transparent;
          th {
            padding: 5px;
            text-align: center;
            font-weight: bold;
            color: $DarkPrimary;
          }
        }
      }

      tbody {
        tr {
          color: $Dark3;
          &:nth-child(even) {
            background-color: $Dark3;
            color: $Dark1;
          }

          td {
            padding: 5px;
            text-align: center;

            img {
              width: 50px;
              height: 50px !important;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }

            .noImage {
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px !important;
              background-color: $Dark2;
              color: $DarkPrimary;
              border-radius: 50%;
              font-size: 10px;
            }

            button {
              all: unset;
              padding: 10px;
              cursor: pointer;
            }

            .publishBtn,
            .editBtn {
              color: $CallToAction;
              background-color: transparent;
              &:hover {
                color: $CallToActionHover;
              }
            }

            .deleteBtn {
              color: rgb(255, 92, 92);
              background-color: transparent;
              &:hover {
                color: rgb(131, 11, 11);
              }
            }
          }
        }
      }
    }

    .pagination {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: none;
      height: 20px;
      gap: 10px;

      li {
        cursor: pointer;
        color: $Dark3;

        &:hover {
          color: $DarkPrimary;
        }

        &.active {
          color: $DarkPrimary;
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }
  }
}


#light{
  .ReusableCoupons {
    .chartsContainer {
      .chartWrapper {
        h4,
        h2 {
          color: $LightPrimary;
        }
      }
    }
    .tableContainer {
      background-color: $Light4;
      h1 {
        color: $LightPrimary;
      }
      p {
        color: $Dark3;
      }
      button {
        background-color: $CallToAction;
        &:hover {
          background-color: $CallToActionHover;
        }
      }
      table {
  
        thead {
          tr {
            background-color: transparent;
            th {
              color: $LightPrimary;
            }
          }
        }
  
        tbody {
          tr {
            color: $Dark3;
            &:nth-child(even) {
              background-color: $Light3;
              color: $Light1;
            }
  
            td {
              padding: 5px;
              text-align: center;

              .noImage {
                background-color: $Dark2;
                color: $LightPrimary;
              }
  

  
              .publishBtn,
              .editBtn {
                color: $CallToAction;
                background-color: transparent;
                &:hover {
                  color: $CallToActionHover;
                }
              }
  
              .deleteBtn {
                color: rgb(255, 92, 92);
                background-color: transparent;
                &:hover {
                  color: rgb(131, 11, 11);
                }
              }
            }
          }
        }
      }
  
      .pagination {

        li {
          color: $Light3;
          &:hover {
            color: $LightPrimary;
          }
  
          &.active {
            color: $LightPrimary;
          }
        }
      }
    }
  }
  
}
