@import "@/App.scss";

.passwordChangeForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  .formMessage {
    width: 80%;
    color: $CallToAction;
    margin: 0 auto;
    padding: 20px 15px;
    border: 1px solid $CallToAction;
    border-radius: 10px;
  }
  .formErrorMessage {
    width: 80%;
    color: $Error;
    margin: 0 auto;
    padding: 20px 15px;
    border: 1px solid $Error;
    border-radius: 10px;
  }

  .title {
    h1 {
      color: $DarkPrimary;
    }
    p {
      color: $Dark2;
      a {
        all: unset;
        color: $CallToAction;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .formGroup {
    position: relative;
    margin-bottom: 50px;
    width: 90%;
    align-self: center;
    .togglePassword {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;

      &:focus {
        outline: none;
      }
      svg {
        color: $CallToAction;

        &:hover {
          color: $CallToActionHover;
        }
      }
    }
    label {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 0;
      font-size: 16px;
      color: $Dark1;
      pointer-events: none;
      transition: all 0.3s ease;
      background-color: transparent;
    }
    input {
      all: unset;
      width: 92%;
      border-bottom: 1px solid $Dark1;
      padding: 5px 10px;
      font-size: 16px;
      color: $DarkPrimary;
      background-color: transparent;
      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -25px;
        left: 5px;
        font-size: 12px;
        padding: 5px;
      }
    }
  }

  button[type="submit"] {
    //   margin-top: 50px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 90%;
    align-self: center;
    background-color: $CallToAction;
    color: $LightPrimary;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: $CallToActionHover;
    }
  }
}

#light {
  .passwordChangeForm {
    .formGroup {
      label {
        color: $Dark1;
      }
      input {
        border-bottom: 1px solid $Dark1;
      }
      button[type="submit"] {
        background-color: $CallToAction;
        color: $LightPrimary;
        cursor: pointer;
        &:hover {
          background-color: $CallToActionHover;
          color: $DarkPrimary;
        }
      }
    }
  }
}
