@import "@/App.scss";

.couponModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $DarkThemeNav;
  backdrop-filter: blur(10px);
  // padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    all: unset;
    background: $Dark4;
    padding: 10px;
    border-radius: 25px;
    width: 90%;
    height: 90%;
    // max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 90%;
      padding-bottom: 30px;

      h2 {
        color: $DarkPrimary;
      }

      .closeModalButton {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: $CallToAction;

        &:hover {
          color: $CallToActionHover;
        }
      }
    }

    .modalBody {
      // display: flex;
      // flex-direction: column;
      // align-items: flex-start;
      // gap: 30px;
      .container {
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        .right {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
        }
        button {
          color: $DarkPrimary;
          border-radius: 10px;
          border: none;
          padding: 10px 15px;
          cursor: pointer;
          margin: 5px;
          background-color: $CallToAction;
          width: 100%;
        }

        .formGroup {
          position: relative;
          width: 100%;
          margin-bottom: 30px;

          .DropArea {
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            border-radius: 10px;
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              width: 180px;
              height: 180px;
              object-fit: cover;
              margin-bottom: 10px;
              border-radius: 100%;
            }

            p {
              margin: 0;
              color: $Dark3;
            }

            .with-image {
              border-color: $CallToAction;
              border-radius: 10px;
            }

            button {
              color: $DarkPrimary;
              border-radius: 10px;
              border: none;
              padding: 10px 15px;
              cursor: pointer;
              margin: 5px;
            }

            .RemoveBtn {
              background-color: $CallToAction2;

              &:hover {
                background-color: $CallToActionHover2;
              }
            }
          }

          label {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 0;
            font-size: 16px;
            color: $Dark1;
            pointer-events: none;
            transition: all 0.3s ease;
            background-color: transparent;
          }

          input {
            all: unset;
            width: 92%;
            border-bottom: 1px solid $Dark1;
            padding: 5px 10px;
            font-size: 16px;
            color: $DarkPrimary;
            background-color: transparent;

            &:focus + label,
            &:not(:placeholder-shown) + label {
              top: -25px;
              left: 5px;
              font-size: 12px;
              padding: 5px;
            }
          }

          textarea {
            background-color: $Dark4;
            border: 2px solid $Dark1;
            border-radius: 10px;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: $DarkPrimary;
            margin-top: 15px;
          }
          select {
            margin-top: 30px;
            padding: 7px 12px;
            border-radius: 10px;
            background-color: $Dark3;
            color: $DarkPrimary;
            border: none;
            option {
              all: unset;
              height: 500px;
              padding: 50px;
              margin: 0 0 50px 0;
              color: $DarkPrimary;
            }
          }

          // lables
          .promoCat,
          .branchLabel {
            position: relative;
            margin-top: 50px;
          }
          .textAreaLabel {
            // position: relative;
            top: -15px;
          }

          // lables

          .multiSelect {
            margin-top: 20px;
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;
            gap: 8px;
            .multi {
              display: flex;

              align-items: center;
              gap: 5px;
              span {
                color: $Dark2;
              }
            }
            input[type="checkbox"] {
              all: unset;
              appearance: none;
              width: 15px;
              height: 15px;
              border: 1px solid $Dark1;
              border-radius: 4px;
              background-color: #fff;
              cursor: pointer;
              margin-right: 3px;

              &:checked {
                background-color: $CallToAction;
                border-color: $CallToAction;
              }
            }
          }
        }
      }
    }

    .addBtn {
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      width: 90%;
      background-color: $CallToAction;
      color: $LightPrimary;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $CallToActionHover;
      }
    }
  }
}

#light {
  .couponModalOverlay {
    background-color: $LightThemeNav;

    .modalContent {
      background: $Light4;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      .modalHeader {
        h2 {
          color: $LightPrimary;
        }

        .closeModalButton {
          color: $CallToAction;

          &:hover {
            color: $CallToActionHover;
          }
        }
      }

      .formMessage {
        color: $CallToAction;
        border: 1px solid $CallToAction;
      }

      .formErrorMessage {
        color: $Error;
        border: 1px solid $Error;
      }

      .formGroup {
        label {
          color: $Dark1;
        }

        input {
          border-bottom: 1px solid $Dark1;
          color: $LightPrimary;
        }
        textarea {
          background-color: $Light3;
          border: 2px solid $Dark1;
          color: $LightPrimary;
        }
        select {
          margin-top: 30px;
          padding: 7px 12px;
          border-radius: 10px;
          background-color: $Light3;
          color: $LightPrimary;
          border: none;
          option {
            all: unset;
            height: 500px;
            padding: 50px;
            margin: 0 0 50px 0;
            color: $DarkPrimary;
          }
        }
      }

      .passwordGroup {
        .togglePassword {
          .togglePassword svg {
            color: $CallToAction;

            &:hover {
              color: $CallToActionHover;
            }
          }
        }

        button[type="submit"] {
          padding: 10px 15px;
          border: none;
          border-radius: 10px;
          width: 90%;
          align-self: center;
          background-color: $CallToAction;
          color: $LightPrimary;
          font-size: 16px;
          cursor: pointer;
          margin-top: 30px;

          &:hover {
            background-color: $CallToActionHover;
          }

          &:disabled {
            background-color: $Dark3;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
