@import "@/App.scss";

.dashboard {
  .subHeading {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    h2 {
      color: $DarkPrimary;
    }
  }
  .dashboardContainer {
    .masonryGrid {
      display: flex;
      margin-left: -5px;
      width: auto;
      .masonryGridColumn {
        padding-left: 15px;
        background-clip: padding-box;
        .GridItem {
          background-color: $Dark4;
          border-radius: 10px;
          padding: 20px;
          color: $Dark3;
          margin-bottom: 15px;
          background-color: $Dark4;
          border-radius: 10px;
          padding: 20px;
          color: $Dark3;
          .GridContentContainer {
            width: 90%;
            padding-top: 30px;
            margin: 0 auto;

            .ProfileImageInfo {
              display: flex;
              align-items: center;
              justify-content: center;
              .profileImageIcon {
                width: 16vw;
                height: 16vw;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            .Accinfo {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin: 20px 0;
              h2 {
                margin-bottom: 20px;
              }
              p {
                margin: 5px;
                align-self: flex-start;
              }
              &:nth-child(2) {
                margin: 0;
              }
              .statusOf2fa {
                display: flex;
                align-items: center;
                gap: 10px;
                .enabled {
                  display: flex;
                  align-items: center;
                  gap: 0px;
                  svg {
                    width: 12px;
                    height: 12px;
                    padding: 5px;
                    background-color: $CallToAction;
                    border-radius: 50%;
                  }
                  p {
                    color: $CallToAction;
                  }
                }
                .disabled {
                  display: flex;
                  align-items: center;
                  gap: 0px;
                  svg {
                    width: 12px;
                    height: 12px;
                    padding: 5px;
                    background-color: $Error;
                    border-radius: 50%;
                  }
                  p {
                    color: $Error;
                  }
                }
              }
            }

            .goToMembers,
            button {
              all: unset;
              cursor: pointer;
              color: $LightPrimary;
              background-color: $CallToAction;
              padding: 7px 10px;
              border-radius: 10px;
              margin-top: 20px;
              &:hover {
                background-color: $CallToActionHover;
              }
            }
          }
          h2 {
            color: $DarkPrimary;
          }
        }
      }
    }
  }
}

#light {
  .dashboard {
    .subHeading {
      h2 {
        color: $LightPrimary;
      }
    }
    .dashboardContainer {
      .masonryGrid {
        .masonryGridColumn {
          .GridItem {
            background-color: $Light4;
            color: $Light1;
            .GridContentContainer {
              .profileOnly {
                filter: invert(0);
              }
              .Accinfo {
                .statusOf2fa {
                  .enabled {
                    svg {
                      background-color: $CallToAction;
                    }
                    p {
                      color: $CallToAction;
                    }
                  }
                  .disabled {
                    svg {
                      background-color: $Error;
                    }
                    p {
                      color: $Error;
                    }
                  }
                }
              }

              .goToMembers,
              button {
                color: $LightPrimary;
                background-color: $CallToAction;
                &:hover {
                  background-color: $CallToActionHover;
                }
              }
            }
            h2 {
              color: $LightPrimary;
            }
          }
        }
      }
    }
  }
}
